@import 'mixins';
@import 'variables';

$background-color-section: rgba(255, 255, 253, 0.9);

section {

    .section-header {

        .section-title {
            @include section-title;
        }
    }

    .projects-container {
        padding-bottom: 3em;

        .content {
            display: grid;
            gap: 2em;
        }
    }
}