@import 'fonts';
@import 'colors';

section {
    background-image: url('../../../../../assets/img/keyboard-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .section-header {
        background-color: rgb(64, 105, 168, .9);
        background-color: rgba(255, 255, 255, .9);

        .section-title {
            font-size: 1.5em;
            padding: 2em 0;
            margin: 0;
            color: $primary-color;
            text-transform: uppercase;
            font-family: $special-font;
            letter-spacing: .1em;
        }

        @media (width <=700px) {
            .section-title {
                text-align: center;
            }
        }
    }

    .projects-container {
        background-color: rgba(255, 255, 255, .9);
        padding-bottom: 2em;

        .content {
            display: grid;
            gap: 2em;
        }
    }
}

@media (width <=700px) {
    section {
        background-position-x: center;
    }
}