@import 'colors';
@import 'fonts';
@import 'variables';

@mixin section-title {
    font-size: 1.75rem;
    margin: 0 0 1.75rem;
    color: $dark-gray;
    font-family: $special-font;
    letter-spacing: .03rem;

    @media(width <=$tablet-width) {
        text-align: left;
    }

    @media(width <=$mobile-width) {
        font-size: $section-title-text-size-mobile;
    }
}

@mixin link-button($background-color) {
    background-color: $background-color;
    border: 0.0625rem solid darken($color: $background-color, $amount: 10);
    border-radius: 2rem;
    font-size: .85rem;
    padding: 0.3rem 0.7rem;
    transition: .2s ease all;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}


@mixin chip {
    border-radius: revert-layer;
    padding: .1rem .5rem;
    border: .016rem solid #bbb;
}

@mixin chip-text {
    margin: 0;
    font-size: .75rem;
}

@mixin card {
    ::ng-deep .p-chip {
        @include chip;
    }

    ::ng-deep .p-chip-text {
        @include chip-text;
    }

    display: flex;
    gap: 2rem;

    .card-image {
        width: 50%;
        border-radius: .5rem;
        border: 1px solid #eee;
    }

    .card-title {
        margin: 0;
        font-family: $common-font;
        font-weight: 700;
        font-size: $title-text-size;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
    }

    .card-description {
        padding: 0.5rem 0 1rem;
        margin: 0;
        font-size: $body-text-size;
    }

    .technologies-container {
        display: flex;
        gap: 0.5rem;
    }

    @media (width <=$mobile-width) {
        display: grid;
        gap: 1rem;

        .card-image {
            width: 100%;
        }
    }
}