@import "primeicons/primeicons.css";
@import "fonts";
@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: $common-font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-display: swap;
}

.content {
    width: 900px;
    margin: 0 auto;
}

@media (width <=($tablet-width + 150)) {
    .content {
        width: $mobile-width;
    }
}

@media (width <=($mobile-width + 100)) {
    .content {
        width: 90%;
    }
}