@import "primeicons/primeicons.css";
@import "fonts";

body {
    margin: 0;
    padding: 0;
    font-family: $common-font;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.content {
    width: 1100px;
    margin: 0 auto;
}

@media (width <=1140px) {
    .content {
        width: 95%;
    }
}