<section>
    <div class="section-header content">
        <h1 class="section-title">Experiencia Profesional</h1>
    </div>
    <div class="experience-container content">
        <p-timeline [value]="experiences" align="left">
            <ng-template pTemplate="marker" let-item>
                <span class="marker"></span>
            </ng-template>
            <ng-template class="experience" pTemplate="content" let-item>
                <div>
                    <h2 class="position">{{ item.position }}</h2>
                    <h3 class="company">{{ item.company }}</h3>
                    <h5 class="job-dates">{{ item.start }}-{{ item.end }}</h5>
                </div>
                <div>
                    <p class="description">
                        {{ item.description }}
                    </p>
                    <div class="stack-container">
                        @for(technology of item.stack; track technology.name) {
                        <p-chip [label]="technology.name"></p-chip>
                        }
                    </div>
                </div>
            </ng-template>
        </p-timeline>
    </div>
</section>