@import 'mixins';

$position-info-data-color: #aaa;

::ng-deep .p-timeline-event-opposite {
    display: none !important;
}

::ng-deep .p-timeline-event-content:not(:last-child) {
    margin: 0 0 3rem;
}

::ng-deep .p-timeline-event-connector {
    background-color: #ccc;
}

::ng-deep .p-timeline-event-separator {
    position: relative;
    top: 1.3rem;
}

::ng-deep .p-timeline-event-content {
    padding: 0 0 0 1rem;
    display: grid;
    grid-template-columns: 50% 50%;

    .position-info-container {
        font-family: $special-font;
        font-weight: 300;
        font-size: 1.1em;
        flex: 1;

    }

    .position {
        margin: 0;
        font-family: $common-font;
        font-weight: 700;
        font-size: $title-text-size;
        line-height: 1;
    }

    .company {
        font-size: $subtitle-text-size;
        margin: .25rem 0;
        font-weight: 300;
    }

    .job-dates {
        font-weight: 300;
        margin: 0;
    }

    .description {
        margin: 0;
    }

    .stack-container {
        display: flex;
        align-items: center;
        gap: .75em;
        flex-flow: wrap;
        margin: 1rem 0;

        ::ng-deep .p-chip {
            @include chip;
        }

        ::ng-deep .p-chip-text {
            @include chip-text;
        }
    }

}

::ng-deep .p-timeline-event-content:not(:last-child) {
    margin: 0 0 1rem 0;
}



.marker {
    border-radius: 100%;
    background-color: $primary-color;
    width: 10px;
    height: 10px;
}

section {

    .section-header {

        .section-title {
            @include section-title;
        }
    }
}

@media (width <=700px) {
    section {
        background-position-x: center;
    }
}