@import 'mixins';

$position-info-data-color: #aaa;

::ng-deep .p-timeline-event-opposite {
    display: none !important;
}

::ng-deep .p-timeline-event-content:not(:last-child) {
    margin: 0 0 3rem;
}

::ng-deep .p-timeline-event-connector {
    background-color: #ccc;
}

::ng-deep .p-chip-text {
    font-size: .8em !important;
}

::ng-deep .p-timeline-event-separator {
    position: relative;
    top: .4rem;
}

.marker {
    border-radius: 100%;
    background-color: $primary-color;
    width: 10px;
    height: 10px;
}

section {

    .section-header {

        .section-title {
            @include section-title;
        }

        @media (width <=700px) {
            .section-title {
                text-align: center;
            }
        }
    }

    .experience-container {

        .content {

            .position {
                margin: 0;
                font-family: "Fira Sans", "Open Sans", sans-serif, helvetica;
                font-weight: 400;
                font-size: 1.3em;

                span {
                    color: $position-info-data-color;
                }
            }

            .position-info-container {
                font-family: $special-font;
                font-weight: 300;
                font-size: 1.1em;
                color: $position-info-data-color;
            }

            .stack-container {
                display: flex;
                align-items: center;
                gap: .75em;
                flex-flow: wrap;

                .stack-title {
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 0;
                }

                .technologies {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                }
            }
        }
    }
}

@media (width <=700px) {
    section {
        background-position-x: center;
    }
}