@import 'mixins';

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    .header-container {
        display: grid;
        margin: 5rem auto 8rem;
        gap: 1rem;

        .status {
            @include link-button($dark-green);
        }

        .status:hover {
            transform: scale(1.05);
        }

        .social-link {
            @include link-button($primary-color)
        }

        .avatar {
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
        }


        .personal-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name {
                font-size: 2.375em;
                margin: 0;
                padding: 0;
                font-family: $special-font;
            }

            .presentation {
                width: 50%;
                font-size: $subtitle-text-size;
            }

        }

        @media (width <=700px) {
            .nav-menu ul {
                li:nth-child(1)>* {

                    ::ng-deep .p-button {
                        margin-left: -1px;
                    }
                }
            }
        }
    }
}

@media (width <=700px) {
    .header-container {
        flex-direction: column;
        align-content: center;
        gap: 1em;

        .name {
            text-align: center;
            font-size: 1.8em !important;
        }

        .occupation {
            text-align: center;
            font-size: 1em;
            margin: 0;
        }
    }
}

footer {
    background-color: $primary-color;
    letter-spacing: .01em;
    font-size: .9em;
    font-weight: 300;
    height: 40px;
    margin: 0 !important;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .copyright,
        .builder,
        .angular {
            margin: 0 !important;
            color: #fff;
        }

    }

}

@media (width <=700px) {
    footer {
        justify-content: space-around;

        .builder,
        .copyright {
            font-size: .8em;
        }
    }
}