<header>
  <div class="header-container content">
    <div class="flex gap-4 align-items-center">
      <img class="avatar" src="./../assets/img/avatar.png" alt="Imagen de José Emilio Gutiérrez">
      <a href="https://www.linkedin.com/in/gutiermoran" target="_blank" class="status">Disponible para trabajar</a>
    </div>


    <div class="personal-info">
      <h1 class="name">Hey, soy José Emilio</h1>
      <p class="presentation">+3 años de experiencia con Java 8. <span class="primary-color font-bold">Técnico Superior
          en
          Desarrollo de Aplicaciones
          Multiplataforma</span>. Interesado en
        el desarrollo <i>front-end</i> y <i>back-end</i>.</p>
    </div>
    <div class="flex gap-3 content">
      <a class="social-link" href="https://www.github.com/gutiermoran" target="_blank"><i
          class="pi pi-github"></i>GitHub</a>
      <a class="social-link" href="https://www.linkedin.com/in/gutiermoran" target="_blank"><i
          class="pi pi-linkedin"></i>LinkedIn</a>
    </div>
  </div>

</header>

<router-outlet></router-outlet>

<footer>
  <div class="content">
    <p class="copyright">&copy;&nbsp;{{ currentDate | date: 'yyyy' }}&nbsp;gutiermoran.com</p>
    <p class="builder">Creado con&nbsp;<a class="angular" href="https://angular.dev/" target="_blank">Angular</a>.</p>
  </div>
</footer>