<header>
  <div class="social-bar">
    <div class="content">
      <a href="https://www.github.com/gutiermoran" target="_blank"><i class="pi pi-github"></i></a>
      <a href="https://www.linkedin.com/in/gutiermoran" target="_blank"><i class="pi pi-linkedin"></i></a>
    </div>
  </div>

  <div class="header-container content">
    <a routerLink="">
      <img class="avatar" src="./../assets/img/avatar.jpg" alt="José Emilio Gutiérrez avatar.">
    </a>
    <div>
      <h1 class="name">José Emilio Gutiérrez Morán</h1>
      <nav class="nav-menu">
        <ul>
          <li><a routerLink="">Projects</a></li>
          <li><a routerLink="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>

<router-outlet class="main"></router-outlet>

<footer class="content">
  <p class="copyright">&copy;&nbsp;{{ currentDate | date: 'yyyy' }}&nbsp;gutiermoran.com</p>
  <p class="builder">Built with&nbsp;<a class="angular" href="https://angular.dev/" target="_blank">Angular.</a></p>
</footer>