:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    .social-bar {
        background-color: rgb(64, 105, 168);
        height: 40px;

        .content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .pi {
            color: white;
            margin: .5em;
            font-size: 1.25em;
        }
    }

    .header-container {
        margin: 3em auto;
        display: flex;
        align-items: center;
        gap: 3em;

        .avatar {
            width: 180px;
            height: 180px;
            border-radius: 100%;
        }
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
            font-size: 2em;
            margin: 0;
            padding: 0;
            font-family: "Fira Sans" "Open Sans";
            text-transform: uppercase;
            letter-spacing: -.03em;
        }

        .occupation {
            margin: 0;
            padding: 0;
            font-size: 1.4em;
            margin-left: -5px;
            font-family: "Fira Sans" "Open Sans";
            font-weight: 200;
            letter-spacing: .2em;
            text-transform: uppercase;

        }

        .nav-menu ul {
            display: flex;
            gap: 2em;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 1em 0 0;

            li {
                list-style: none;
                font-size: 1.1em;
                letter-spacing: .05em;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #000;
                }

                ::ng-deep .p-button {
                    font-size: .7em;
                    padding: 1em 1.3em;
                    background-color: #788BA8;
                    margin-left: -4px;
                    border: none;
                }

                ::ng-deep .p-button-label {
                    letter-spacing: .1em;
                    font-weight: 500;
                    font-family: "Fira Sans" "Open Sans";
                }

                ::ng-deep .p-button:hover {
                    background-color: #4069A8;
                }
            }
        }

        @media (width <=1045px) {
            .nav-menu ul {
                justify-content: center;

                li {
                    font-size: 1em;
                }
            }
        }
    }

    @media (width <=1045px) {
        .header-container {
            flex-direction: column;
            align-content: center;
            gap: 1em;

            .profile-image {
                width: 130px;
                height: 130px;
            }

            .name {
                text-align: center;
                font-size: 1.5em !important;
            }
        }
    }

}

footer {
    background-color: rgb(64, 105, 168);
    letter-spacing: .01em;
    font-size: .9em;
    height: 40px;
    margin: 0 !important;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .copyright,
        .builder,
        .angular {
            margin: 0 !important;
            color: #fff;
        }

    }

}

@media (width <=1045px) {
    footer {
        justify-content: space-around;

        .builder,
        .copyright {
            font-size: .8em;
        }
    }
}