@import 'mixins';

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}



footer {
    background-color: $primary-color;
    letter-spacing: .01em;
    font-size: .9em;
    font-weight: 300;
    height: 40px;
    margin: 0 !important;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .copyright,
        .builder,
        .angular {
            margin: 0 !important;
            color: #fff;
        }

    }

}

@media (width <=$mobile-width) {
    footer {
        justify-content: space-around;

        .builder,
        .copyright {
            font-size: .8em;
        }
    }
}