@import 'fonts';
@import 'colors';

::ng-deep .p-tooltip {
    margin-top: .5em;
}

section {
    .section-header {
        background-color: rgb(64, 105, 168, .9);
        background-color: rgba(255, 255, 255, .9);

        .section-title {
            font-size: 1.4em;
            padding: 2em 0 1.5em;
            margin: 0;
            color: $primary-color;
            text-transform: uppercase;
            font-family: $special-font;
            letter-spacing: .1em;
        }

        .section-description {
            margin: 0;
        }

        @media (width <=700px) {
            .section-title {
                text-align: center;
            }

            .section-description {
                margin: 0 1em;
            }
        }


    }

    .skills-groups-container {
        background-color: rgba(255, 255, 255, .9);
        padding: 1em 0 3em;

        .content {
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
            gap: 2em;

            .technology {
                font-size: 3em;
                color: #666;
                width: 70px;
                text-align: center;
            }

            .technology:hover {
                color: $dark-orange;
            }
        }

        @media (width <=1140px) {
            .content {
                grid-template-columns: 1fr;
                padding: 1em 1em 3em;
            }
        }
    }

}