@import 'mixins';

::ng-deep .p-chip {
    border-radius: 8px;
    padding: .25em .5em;
    border: 1px solid #bbb;
}

::ng-deep .p-chip-text {
    margin: 0;
}

.card {
    @include card;

    a {
        text-decoration: none;
        font-size: .8em;
        color: #bbb;
    }

    a:hover {
        color: $dark-orange;
    }

    .source-code-button {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-family: $special-font;
        font-size: $body-text-size-mobile;
        font-weight: 300;
    }

    .technologies-container {
        margin: .5rem 0;
    }
}


@media(width <=850px) {
    .project-image {
        width: 100%;
        border-radius: 0 0 .5em .5em;
    }
}

@media(width <=850px) {
    .card {
        display: block;
    }
}