<div class="card">
    <div class="project-info-container">
        <h1 class="project-name">{{ project.name }}@if (project.codeLink) {<a class="fas fa-code"
                [href]="project.codeLink" target="_blank"></a>}</h1>
        <p class="project-description">{{ project.description }}</p>
        <div class="technologies-container">
            @for (technology of project.technologies; track project.name) {
            <p-chip [label]="technology.name"></p-chip>
            }
        </div>
    </div>
</div>