<div class="card">
    <div class="project-info-container">
        <h1 class="project-name">{{ project.name }}</h1>
        <p class="project-description">{{ project.description }}</p>
        <div class="technologies-container">
            @for (technology of project.technologies; track project.name) {
            <p-chip [label]="technology.name" [icon]="technology.icon"></p-chip>
            }
        </div>
        <a class="source-code-button" [href]="project.codeLink" target="_blank"><p-button icon="pi pi-github"
                label="Código Fuente"></p-button></a>
    </div>
    <img class="project-image" [src]="project.image">
</div>