@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.content {
    width: 1000px;
    margin: 0 auto;
}

@media (width <=1045px) {
    .content {
        width: 95%;
    }
}