@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(243, 246, 255);
    background: linear-gradient(180deg, rgba(243, 246, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}


.content {
    width: 1000px;
    margin: 0 auto;
}

@media (width <=1045px) {
    .content {
        width: 95%;
    }
}